$color-1: #E2E6E7;
$color-2: #2C3E50;
$color-3: #A1B1BC;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.alert{
    height: 150px;
    border: 1px solid $color-1;
    border-radius: 10px;
    font-family: 'Lato';
    display: flex;

    div{
        display: inherit;
        flex-direction: column;
        font-size: 14px;

        h3{
            line-height: 26px;
            font-weight: 900;
            color: $color-2;
        }

        p{
            font-size: 14px;
            color: $color-3;
        }
    }
}
