$color-1: #E2E6E7;
$color-2: #2C3E50;
$color-3: #A1B1BC;
$color-4: #A47503;
$color-5: #FFC12D;
$color-6: #F9B718;
$color-7: #CFD2D3;
$color-8: #558502;
$color-9: #97E411;
$color-10: #7BC200;
$color-11: #D52E13;
$color-12: #FD7761;
$color-13: #F55C43;
$color-14: #0787D4;
$color-15: #6FD9FC;
$color-16: #47B4F6;
$color-17: #5B568E;
$color-18: #A39CDC;
$color-19: #8781BD;
$color-20: #C89210;
$color-21: #B18009;
$color-22: #A7EC2F;
$color-23: #FEB1A4;
$color-24: #85EBFA;
$color-25: #AACDF6;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container{
  width: 1171px;
  margin: auto;
}

.flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.wrapper{
  width: 570px;
}

.alert {
  position: relative;
  height: 150px;
  border: 1px solid $color-1;
  border-radius: 10px;
  font-family: 'Lato';
  display: flex;
  padding-top: 42px;
  padding-left: 50px;

  &:before {
    content: '';
    font-family: "FontAwesome";
    font-size: 24px;
    line-height: 26px;
    width: 50px;
    height: 50px;
    border: 7px solid $color-3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 28px;
  }

  &.alert {
    &-warning:before {
      content: '\f12a';
      width: 50px;
      height: 50px;
      color: $color-4;
      background: $color-5;
      border-color: $color-6;
    }

    &-success:before {
      content: '\f00c';
      width: 50px;
      height: 50px;
      color: $color-8;
      background: $color-9;
      border-color: $color-10;
    }

    &-danger:before {
      content: '\f00d';
      width: 50px;
      height: 50px;
      color: $color-11;
      background: $color-12;
      border-color: $color-13;
    }

    &-flash:before {
      content: '\f0e7';
      width: 50px;
      height: 50px;
      color: $color-14;
      background: $color-15;
      border-color: $color-16;
    }

    &-info:before {
      content: '\f129';
      width: 50px;
      height: 50px;
      color: $color-17;
      background: $color-18;
      border-color: $color-19;
    }

  }

  div {
    h3 {
      font-size: 14px;
      font-weight: 900;
      color: $color-2;
      padding-bottom: 14px;
      letter-spacing: 1.4px;
      line-height: 10px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: $color-3;
    }
  }

  &-info {
    div {
      
    }
  }

  a {
    position: absolute;
    width: 11px;
    height: 14px;
    top: 17.6px;
    right: 18.9px;
  }

  a::after {
    content: '\f00d';
    display: inline-block;
    position: absolute;
    font-family: "FontAwesome";
    font-size: 14px;
    line-height: 24px;
    color: $color-7;
    top: -6px;
  }

  &.solid {
    &.alert-warning {
        background: $color-5;

        &:before {
          color: $color-4;
          background: $color-5;
          border-color: $color-20;
        }

        p {
          color: $color-2;
        }

        a::after {
          color: $color-21;
        }
      }
    
    &.alert-success{
        background: $color-22;

        &:before {
          color: $color-8;
          background: $color-22;
          border-color: $color-10;
        }

        p {
          color: $color-2;
        }

        a::after {
          color: $color-8;
        }
      }
    
    &.alert-danger{
        background: $color-23;

        &:before {
          color: $color-11;
          background: $color-23;
          border-color: $color-13;
        }

        p {
          color: $color-2;
        }

        a::after {
          color: $color-11;
        }
      }
    
    &.alert-flash{
        background: $color-24;

        &:before {
          color: $color-14;
          background: $color-24;
          border-color: $color-16;
        }

        p {
          color: $color-2;
        }

        a::after {
          color: $color-14;
        }
      }
    
    &.alert-info{
        background: $color-25;

        &:before {
          color: $color-17;
          background: $color-25;
          border-color: $color-19;
        }

        p {
          color: $color-2;
        }

        a::after {
          color: $color-17;
        }
      }
    }
}
