@import 'reset';
@import 'base';
@import 'palette';
@import 'components/notification/index';

.container {
    width: 1171px;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin-bottom: 30px;
}

.wrapper {
    width: 570px;
}
